
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: roboto;
}

.App {
  background-color: bisque;
}

.Container {
  max-width: 95%;
  margin: 0 auto;
  background-color: cadetblue;
  padding: 20px;
 @media screen and (max-width: 660px) {
   max-width: 100%;
 }
}

.Header {
  height: 75px ;
}


.BookBlock {
  img {
    width: 100%;
  }
}

.SortBlock {
  height: 60px;
  padding: 0 30px;
}

.SortBlock-items {
  height: 100%;
  span {
   font-size: 14px;
   padding: 5px;
   cursor: pointer;
   
  }
  :hover {
    color: red;
  }
}

.add {
  background-color: brown;
  height: 500px;
  position: sticky;  
  top: 20px;
  width: 100%;
}
.addMoth {
  position: relative;
}